/* Boilerplate Code */

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
}

/* Box-model */

p{
    border: 10px black solid;
    outline: 1px red solid;
}

.abc{
    padding: 20px;
    margin: 20px 0 0 10px;
}

