*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
}

#f_name{
    background-color: aqua;
    width: fit-content;
}

#l_name{
    background-color: red;
    width: fit-content;
}
p{
    width: 100%;
}

div{
    display: flex;
    flex-wrap: wrap;
}

#div1,#div2,#div3,#div4{
    height: 50px;
    width: 50px;
}
#div1{
    background-color: aqua;
}
#div2{
    background-color: black;
}
#div3{
    background-color: blue;
}
#div4{
    background-color: brown;
}

#pdiv{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}